body {
    background-color: #0D1219;
  }
  
  textarea {
    background-color: #1A2634 !important;
    color: white !important; 
    font-size: small !important;
  }
  
  a {
    color: lightblue;
  }
  
  pre code {
    color: lightgoldenrodyellow;
  }
  
  .container {
    background-color: #1A2634;
    color: white;
    margin-top: 24px;
    padding: 0;
    margin-left: 10%;

  }
  
  .form-control {
    color: white;
    background-color: #1A2634;
    border: none;
  }

  #output {
    visibility: hidden;
    margin: 5% !important;
    font-size: small !important;

  }
